.header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    height: 70px;    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    z-index: 1030;
    background-color: white;
}
.mdc-school-name{
    display: flex;
    flex-direction: row;        
    /* border: 1px solid red;         */
}
.logo-container{    
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.logo-container img{
    height: 45px;
    width: 46px;
    padding-top: 8px;    
}
.school-name-container{    
    text-transform: uppercase;        
}
.school-name-container .thpt{
    font-size: 10px;
    font-weight: 500;    
    padding-top: 13px;
}
.school-name-container .name{
    font-size: 18px;
    font-weight: 700;
}

.menu{
    /* border: 1px solid green; */
    /* background-color: rgb(245, 245, 245); */
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 12px;
    margin-left: 12px;
}
.menu:hover{
    background-color: rgb(245, 245, 245);
}
/*right section*/
.mdc-login{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    /* margin-right: 50px; */
}
.search-icon,
.noti-icon{
    height: 20px;
}
.info-container{    
    display: flex;
    flex-direction: row;    
    justify-content: space-between;    
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-right: 64px;
}
.info-container div{
    /* border: 1px solid green; */
    padding-top: 25px;
    padding-right: 14px;
    padding-left: 14px;
    cursor: pointer;
}
.info-container div:hover{
    background-color: rgb(245, 245, 245);
}
.login-container{    
    display: flex;
    flex-direction: row;
    align-items: center;    
    /* border: 1px solid red; */
}

.login-container img{
    padding-right: 5px;
    padding-left: 10px;
    cursor: pointer;
}
.login-container button{
    margin-right: 5px;      
    padding: 8px 15px 8px 15px;
    border: 2px solid rgb(0, 164, 0);
    border-radius: 6px;
    color: white;
    background-color: rgb(0, 164, 0);
    font-family: Roboto;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.15s, border 0.15s;
}
.login-container button:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
}
.noti-container,
.find-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;        
}
.tb-text,
.tk-text{
    position: absolute;
    bottom: -40px;
    font-size: 11px;
    text-wrap: nowrap;
    border-radius: 2px;
    background-color: rgb(167, 167, 167);
    color: white;
    font-weight: 500;
    padding: 8px 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}
.noti-container:hover .tb-text,
.find-container:hover .tk-text{
    opacity: 1;
}
/*media queries*/
@media(max-width: 980px){
    .info-container{
        display: none;
    }    
    .menu{
        display: block;
        /*khi ma header nho hon 980 thi menu xuat hien*/
    }
}
@media (min-width: 981px){
    .menu{
        display: none;
        /*khi ma cai header lon hon hoac bang981px thi menu bi an*/
    }
}
@media (min-width: 986px){
    .login-container{
        margin-right: 50px;
    }
}
@media (min-width: 582px) and (max-width: 985px){
    .login-container{
        margin-right: 50px;
    }   
}
@media (max-width: 582px){
    .logo-container img{
        height: 35px;
        width: 35px;
        padding-top: 12px;    
        
    }
    .school-name-container .thpt{
        font-size: 8px;
        font-weight: 500;    
        padding-top: 15px;
    }
    .school-name-container .name{
        font-size: 15px;
        font-weight: 700;
    }
}