footer{
    /* border: 1px solid red; */
    height: 220px;
    /* background-color: rgba(240,240,240); */
    background-color: #F9EFDB;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 170px;
    padding-top: 10px;
}
.left-section{
    display: flex;
    /* border: 1px solid green; */
    padding-top: 10px;    
    margin-left: 50px;
}
.left-section img{
    height: 55px;
    object-fit: cover;    
}

.middle-section{
    line-height: 20px;
    padding-top: 10px;
}
.right-section {
    /* border: 1px solid green; */
    line-height: 25px;
    margin-right: 50px;
    padding-top: 10px;
}
.right-section img{
    height: 16px;
}
.ttll{
    display: flex;
    flex-direction: row;
    align-items: center;    
    font-size: 14px;
    /* border: 1px solid red; */
}
.ttll img{
    margin-right: 10px;            
}
.footer2{
    /* border: 1px solid green; */
    font-weight: 500;
    display: flex;    
    justify-content: center;
    padding-top: 8px;
    border-top: 2px solid white;
}
/*907px*/
@media (max-width: 900px){
    .footer1{
        display: flex;
        justify-content: space-between;
    }
    .left-section{
        margin-left: 0;
    }
    .right-section{
        margin-right: 0;        
    }
    .right-section .ttll{
        display: flex;
        align-items: center;
        justify-self: center;
    }
}
@media (max-width: 970px){
    .footer1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
    }
}
@media (max-width: 540px){
    .footer1{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        height: 300px;
        padding-left: 15px;
    }
    .footer2{
        font-size: 15px;
    }
    footer{
        height: 400px;
    }
}