/*content container*/
.content-container{
    display: flex;
    flex-direction: row; 
    margin-bottom: 100px;   
}
/*left-sidebar*/
.left-sidebar{
    display: flex;
    flex-direction: column;    
    /* border: 1px solid red; */
    width: 250px;    
    background-color: transparent;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.08); */
}
/*subject-info*/
.subject-info{
    padding-left: 40px;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid green;     */
    margin-top: 8px;
}
.contact div:active{
    color: rgb(0,165,0);
    text-decoration: underline;
}
/*more info*/
.more-info{
    /* border: 2px solid lightblue; */
    margin-top: 40px;
}
.more-info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
    height: 35px;
    cursor: pointer;
    /* border: 1px solid lightpink; */
    margin-bottom: 10px;
    border-radius: 10px;
}
.more-info-content img{
    height: 20px;
    margin-right: 10px;
}
.more-info-content:hover{
    background-color: rgb(244,244,244);
    color: black;
}
/*right content*/
.right-content{
    /* border: 1px solid red; */
    margin-left: 30px;        
    margin-right: 100px;
    height: 550px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll; 
    scrollbar-width: thin;   
    /* scrollbar-color: rgb(244,244,244) white; */
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    flex: 1;
}


/*option1-title*/
.option1-title{
    font-weight: 700;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.option1-header{
    position: absolute;
    left: 0;
    right: 0;    
    display: flex;
    flex-direction: row;
    align-items: center;    
    color: rgb(0,164,0);
    justify-content: center;
    /* border: 2px solid lightblue; */
}
.option1-title:hover .gt-symbol:after{
    background-color: rgb(243, 243, 243);
}
.gt-symbol:after{        
    content: '\002B';
    box-shadow: 0 0 1px rgba(0,0,0,0.01);
    font-size: 23px;
    margin-right: 10px;                       
    padding: 2px 10px;
    border-radius: 30px;
    margin-top: 3px;
    background-color: white;
    border: 2px solid rgb(243,243,243);
}
.active:after{
    content: "\2212";
    color: black;
    font-weight: bold;
}
/*small header*/
.small-header{    
    margin-right: 70px;
    margin-left: 70px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-header-title{
    text-wrap: nowrap;
}
/*lesson-content-container*/
.lesson-content1{
    padding-top: 45px;            
}
.lesson-content-container{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    margin-bottom: 15px;  
}
/*Name container*/
.Name{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.Name img{
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.lesson-name{
    display: flex;
    flex-direction: column;
}
.lesson-name .n1{
    font-size: 13px;
    color: black;
}
.lesson-name .n2{
    font-size: 10px;
    color: gray;
}
.complete,
.deadline,
.Status{
    display: flex;
    justify-content: center;
    align-items: center;
}
.complete,
.deadline{
    font-size: 13px;
}
.complete{
    margin-left: 20px;        
    /* border: 1px solid red;     */
}

.Status img{
    height: 20px;
    margin-left: -10px;
}
/*collapsible*/
.option1-header{    
    opacity: 0;
}